.DS_Store
.idea
*.log
tmp/
venv/
__pycache__/
*.backup
*.test
org-zettel-ref-mode.el.backup2
org-zettel-ref-mode.el.backup
*.zip
.aider*
.env
.vscode/
org-zettel-ref-test
org-zettel-ref-list-tests.el
*.test